/*
    Creation date: 01/06/2021
    Author: Andrade, J.V.

    This should contain only developer tools design and non-project specific styling.

    Last update: 05/08/2021
    Comment: added header and document's
*/

body {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    border: 0px;
    margin: 0px;
    padding: 0px;
    
    background-color: #808080;
}

p{
    color: white;
}

#projectArea{
    position: absolute;

    border: 2px solid #000000;
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
    
    background-color: #FFFFFF;
}